<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row padding">
            <a class="button button-positive col 33 offset-33" href="#/app/selectSearchVehicleType">Search</a>
        </div>
        <div class="row padding">
            <a href="#/app/addVehicle" class="button button-positive col 33 offset-33" >Add Vehicle</a>
        </div>
</ion-view>
