<ion-view title="Login">
    <ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <form class="list">
            <div class="item" ng-show="message">{{ message }}</div>
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="user.email" required>
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password" required>
            </label>
            <div class="padding">
              <button class="button button-block button-stable" ng-click="login()">Login</button>
            </div>
            <div class="row center-align">OR</div>
            <div class="padding">
              <a class="button button-block button-stable" href="#/app/signup">Signup</a>
            </div>
          </form>
    </ion-content>
</ion-view>
