<ion-view title="Signup">
    <ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
      <div class="list">
          <div class="item item-divider" ng-show="message">{{ message }}</div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="John" ng-model="user.fullname">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="asdf@ghj.kl" ng-model="user.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="" ng-model="user.confirmPassword">
        </label>
        <button class="button button-block button-positive" ng-click="signup()">
          Next
        </button>
      </div>
    </ion-content>
</ion-view>
