<ion-checkbox ng-model="vehicle.rentData.weekDays[0]">Mon</ion-checkbox>
<ion-checkbox ng-model="vehicle.rentData.weekDays[1]">Tue</ion-checkbox>
<ion-checkbox ng-model="vehicle.rentData.weekDays[2]">Wed</ion-checkbox>
<ion-checkbox ng-model="vehicle.rentData.weekDays[3]">Thu</ion-checkbox>
<ion-checkbox ng-model="vehicle.rentData.weekDays[4]">Fri</ion-checkbox>
<ion-checkbox ng-model="vehicle.rentData.weekDays[5]">Sat</ion-checkbox>
<ion-checkbox ng-model="vehicle.rentData.weekDays[6]">Sun</ion-checkbox>